<script language='javascript' src='{{$STATIC}}js/anticc.js?v=2'></script>

<div class='pro_msg' style="display: none" id='msg'></div>

<div class="main" style="padding-bottom:10px">
    <div class="public_pa">防CC攻击设置</div>
<form action='?c=anticc&a=anticcAdd' method='post'>
	<table class="table" cellpadding="0" cellspacing="1">
		<tr>
		    <td style="border:0;text-align:center;width:120px;">
			    防CC开关
			</td>
			<td style="border:0;">
			    {{if $at==0}}
				<a href="javascript:anticc_checkon(1)" title='开启功能'><img src="{{$STATIC}}style/start_on.png" border="0" /></a>
		        {{else}}
				<a href="javascript:anticc_checkon(2)" title='禁用功能'><img src="{{$STATIC}}style/start_off.png" border="0" /></a>
	        	{{/if}}
			</td>
		</tr>
	</table>
	<table class="table" cellpadding="0" cellspacing="1">
		<tr>
		    <th colspan="2" style="text-align:center;">防CC参数设置</td>
		</tr>
		<tr>
		    <td style="text-align:center;width:120px;">
			    触发频率
			</td>
			<td>
			    <select name='frequency' id='frequency' data-request='{{$cc.request}}' data-second='{{$cc.second}}'>
					<option value="">--未设置频率--</option>
					<option value="0,0">首次请求验证</option>
					<option value="20,10">10秒20次请求</option>
					<option value="50,10">10秒50次请求</option>
					<option value="100,10">10秒100次请求</option>
					<option value="diy">自定义</option>
			    </select>
			</td>
		</tr>
		<tr id='request_form' style='display: none;'>
		    <td style="text-align:center;width:120px;">
			    请求次数
			</td>
			<td>
			    <input name='request' size='5' value='{{$cc.request}}' id='request' />
			</td>
		</tr>
		<tr id='second_form' style='display: none;'>
		    <td style="text-align:center;width:120px;">
			    单位时间
			</td>
			<td>
			    <input name='second' size='5' value='{{$cc.second}}' id='second' />&nbsp;秒
			</td>
		</tr>
		<tr>
		    <td style="text-align:center;width:120px;">
			    防护模式
			</td>
			<td>
			    <select name='mode' id='mode' data-mode='{{$cc.mode}}'>
					{{foreach from=$modes key=key item=row}}<option value="{{$key}}">{{$row}}</option>{{/foreach}}
			    </select>
			</td>
		</tr>
		<tr>
		    <td style="text-align:center;width:120px;">
			    白名单IP
			</td>
			<td>
			    <textarea name='whiteip' id='whiteip' cols='80' rows='4' class="span7" placeholder="没有请留空">{{$whiteip}}</textarea>
				<br/><font color="red">防CC白名单，IP格式: 一行一个 支持IP段: 127.0.0.0/24 或 127.0.0.1-127.0.0.255</font>
			</td>
		</tr>
		<tr>
		    <td style="text-align:center;width:120px;">
			    白名单URL
			</td>
			<td>
			    <textarea name='whiteurl' id='whiteurl' cols='80' rows='4' class="span7" placeholder="没有请留空">{{$whiteurl}}</textarea>
				<br/><font color="red">一行一个URL，可填写URL中的一部分，支持正则</font>
			</td>
		</tr>
		<tr>
		    <td style="text-align:center;width:120px;">
			    白名单后缀
			</td>
			<td>
				<input name='whiteext' value='{{$whiteext}}' id='whiteext' size="50"/>
				<br/><font color="red">多个文件后缀用|隔开</font>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="padding-left:400px;"><input type='button' value='保存设置' class="btn btn-primary" onclick='anticc_add();'>{{if $cc!=null}}&nbsp;&nbsp;<input type='button' value='删除设置' class="btn btn-default" onclick='anticc_del();'>{{/if}}</td>
		</tr>
	</table>
</form>

</div>
