<script language='javascript' src='{{$PSTATIC}}/style/common.js'></script>
<script type='text/javascript'>
var cwd = '{{$cwd}}';
var dflog = null;
var left = null;
</script>
<script language='javascript' src='{{$STATIC}}/webftp/utils.js?v=331141112a1'></script>
<script language='javascript'>
	function setbgcolor(id, color) {
		document.getElementById(id).style.backgroundColor = color;
	}
	var jq = jQuery.noConflict();
	var msg = '{{$msg}}';
	var defaulttop = '252px';
	jq(document).ready(function(){
		if (msg != '') {
			var dlog = art.dialog({id:'id22',content:msg,title:'提示'});
			dlog.title("两秒后自动消失");
			dlog.time(2);
		}
		var content = jq('#panel').html();
		left = jq("#fileblock").width() + ((jq("body").width() - jq("#fileblock").width())/2);
		if (parseInt(jq("body").width()) <= 1024) {
			left -= 40;
		}
		var windowheight = window.screen.height;
		if (windowheight < 900) {
			defaulttop = '60px';
			left -= 40;
		}
		var bodyHeight = jQuery("body").height();
		var windowHeight = jQuery(window).height();
		if (bodyHeight > windowHeight) {
			dflog = art.dialog({id:'id232',content:content,title:'功能列表',icon: '',top:defaulttop,left:left});

		}
	});
	jq(document).mousemove(function(){
		var scrolltop = document.documentElement.scrollTop;
		if (dflog) {
			dflog.position(left,scrolltop + parseInt(defaulttop) + 'px');
		}
	});
</script>
<div id='panel' class='webftp_left' style='display:none'>
	<div>[<a href='javascript:refresh()'>刷新</a>]</div><br>
	<div>[<a href='javascript:reversSelectAll()'>反选</a>]</div><br>
	<div>[<a href='javascript:upload()'>上传文件</a>]</div><br>
	<div>[<a href='javascript:addwget("{{$wgetdir}}")'>远程下载</a>]</div><br>
	<div>[<a href='javascript:mkdir()'>新建目录</a>]</div><br>
	<div>[<a href='javascript:rmall()'>删除</a>]</div><br>
	<div>[<a href='javascript:cutall()'>剪切</a>]</div><br>
	<div>[<a href='javascript:copyall()'>复制</a>]</div><br>
	<div>[<a href='?c=webftp&a=parse'>粘贴</a>]</div><br>
	<div>[<a href='javascript:compress("{{basename($cwd)}}")'>压缩</a>]</div><br>
	<div>[<a href='javascript:readonly(1)'>只读</a>]</div><br>
	<div>[<a href='javascript:readonly(0)'>可写</a>]</div><br>
	<div>[<a href='?c=webftp&a=syncaccess'>重建属性</a>]</div>
</div>

<div class="main webftp">
<div class="public_pa">在线文件管理</div>
<div id='location'>
	当前目录：<a href='?c=webftp&a=cd&file=%2f'>根目录</a> / 
	{{foreach from=$cwds item=row}}
		{{append var='dir' value=$row}}
		{{append var='dir' value='/'}}
		<a href='?c=webftp&a=cd&file=%2f{{urlencode(implode($dir))}}'>{{$row}}</a>
		/ 
	{{/foreach}}
</div>
<div id="fileblock">
	<table border="0" cellpadding="5" width='100%' cellspacing="0">
		<tr>
			<td colspan='6' class="td_bgc">
				<!--[<a href='javascript:selectAll()'>全选</a>] --> 
				[<a	href='javascript:refresh()'>刷新</a>]
				[<a	href='javascript:reversSelectAll()'>反选</a>]
				[<a	href='javascript:mkdir()'>新建目录</a>]
				[<a href='javascript:upload()'>上传文件</a>]
				[<a href='javascript:rmall()'>删除</a>]
				[<a href='javascript:cutall()'>剪切</a>]
				[<a href='javascript:copyall()'>复制</a>]
				[<a href='?c=webftp&a=parse'>粘贴</a>]
				[<a href='javascript:compress("{{basename($cwd)}}")'>压缩</a>]
				[<a	href='javascript:readonly(1)'>只读</a>]
				[<a	href='javascript:readonly(0)'>可写</a>]
				[<a	href='javascript:addwget("{{$wgetdir}}")'>远程下载</a>]
			</td>
		</tr>
		<tr>
			<td colspan='6'>
			<a href='?c=webftp&a=cd&file=..'>
			<img src='{{$STATIC}}/webftp/up.gif' border='0' />上级目录
			</a>
			<i style="margin-left:40px;">如无法操作,请更换chrome,或firefox浏览器。上传后缀为sql,zip格式的文件,文件后面会自动显示导入,解压按钮</i>
			</td>
		</tr>
		{{foreach from=$files item=file}} {{$tr=$tr+1}}
		<tr id='tr{{$tr}}' onMouseOver="setbgcolor('tr{{$tr}}','#e2efff')" onMouseOut="setbgcolor('tr{{$tr}}','#fefefe')">

			<td >
				<input name='files[]' type='checkbox' value='{{$cwd}}/{{$file.filename}}'>
				<img src='{{$STATIC}}/webftp/icon_{{$file.type}}.gif' border='0' /> <a href="javascript:getfile('{{$cwd}}/{{$file.filename}}',{{$file.dir}})">{{$file.filename}}</a>
				{{if $file.type=='zip'}} 
				<a href="javascript:decompress('{{$cwd}}/{{$file.filename}}')">解压</a>
				{{/if}}
				{{if substr($file.filename,-7)=='.sql.7z' || substr($file.filename,-4)=='.sql'}} 
				<a href="javascript:mysqldumpin('{{$cwd}}/{{$file.filename}}')">导入</a>
				{{/if}}
				{{if substr($file.filename,-7)=='.web.7z'}} 
				<a href="javascript:restoreweb('{{$cwd}}/{{$file.filename}}')">恢复</a>
				{{/if}}
			</td>
			<td >
				{{if !$file.writable}}
				<img src='{{$STATIC}}/webftp/ro.gif' title="只读" border='0' />
				{{else}}
				<img src='{{$STATIC}}/webftp/write.gif' title="可写" border='0' /> 
				{{/if}}
			</td>
			<td >
				[<a	href="javascript:file_access('{{$cwd}}/{{$file.filename}}',{{$file.dir}},'{{$file.propty}}')">属性</a>]
				{{if $file.propty=='deny'}}
				<img src='{{$STATIC}}/webftp/lock.gif' title="锁定" border='0' />
				{{/if}}
				{{if $file.propty=='static'}}
				<img src='{{$STATIC}}/webftp/static.gif' title="静态" border='0' />
				{{/if}}
				{{if substr($file.propty,0,5)=='auth:'}} 
				<img src='{{$STATIC}}/webftp/httpauth.png' title="http认证" alt="http认证"
				border='0' /> 
				{{/if}}
				{{if substr($file.propty,0,3)=='ip:'}}
				<img src='{{$STATIC}}/webftp/ipdeny.png' title="ip限制" alt="ip限制" border='0' />
				{{/if}}
			</td>
			<td >
				[<a href="javascript:rmfile('{{$cwd}}/{{$file.filename}}')">删除</a>]
				[<a href="javascript:rename('{{$cwd}}/{{$file.filename}}')">改名</a>]
				{{if !$file.dir}} 
				[<a	href="javascript:editfrom('{{$cwd}}/{{$file.filename}}')">编辑</a>]
				{{/if}}
			</td>
			<td >
			{{if $file.dir}}
			 	&lt;DIR&gt; 
			{{else}} 
				{{if $file.info[7]>1048576}}
					{{number_format($file.info[7]/1048576, 2,'.', '')}}MB
				{{elseif $file.info[7]>1024}}
					{{number_format($file.info[7]/1024, 2, '.', '')}}KB 
				{{else}}
					{{$file.info[7]}} 
				{{/if}} 
			{{/if}}
			</td>
			<td >
			{{if $file.dir}}
				-
			{{else}}
				{{date("Y-m-d H:i:s",$file.info[9])}}
			{{/if}}
			</td>
		</tr>
		{{/foreach}}
	</table>
</div>
</div>

<script language='javascript'>
	//var w = window.screen.width;
	//var h = window.screen.height;
	//var w = document.body.clientWidth;
	//var h =  document.body.clientHeight;
	//xxkf_JSFX_FloatTopDiv($("panel"), -5, 40);
	//$('panel').style.display = '';
</script>
