.head_block {
	border: 1px solid #0099FF;
	border-bottom-width:0px;
	background-color:#51A3EC;
	color:#FFFFFF;
	padding-top:6px;
	padding-bottom:6px;
	text-align:left;
	/* 表格居中 */
	margin-top:15px;
	MARGIN-RIGHT: auto; 
	MARGIN-LEFT: auto;
}
.head_block2 {
	border: 1px solid #0099FF;
	border-bottom-width:0px;
	background-color:#51A3EC;
	color:#FFFFFF;
	padding-top:6px;
	padding-bottom:6px;
	text-align:left;
}
.head_block3 {
	border: 1px solid #9BCEF0;
	border-bottom-width:1px;
	background-color:#D6EAF8;		
	color:#FFFFFF;
	padding-top:6px;
	padding-bottom:6px;
	text-align:left;
	width:50%;
	height:45px;	
}
.block {
	border: 1px solid #CCCCCC;	
	background-color:#EBEBEB;
	 /* 表格居中 */
	MARGIN-RIGHT: auto; 
	MARGIN-LEFT: auto;
}
.block3 {
	border: 1px solid #9C9D9E;	
	background-color:#9C9D9E;
	 /* 表格居中 */
	MARGIN-RIGHT: auto; 
	MARGIN-LEFT: auto;
	width:760px;
}
#table_2 {
width:100%;
border:0px;
line-height:30px;
}
.td_hg{
height:30px;
}
.td_hg2{
padding-top:30px;
height:100px;
}
.tb_wid{
width:50%;
}
.tb_wid2{
width:60%;
}
#tb_wid3{
width:140px;
}
.tb_wid4{
width:760;
}
.tb_wid5{
width:800;
}
.tb_wid6{
width:250px;
}
.wid10{
width:60px;
}
.wid11{
width:500px;
}
.wid12{
width:150px;
}
.wid13{
width:240px;
}
.td_bgc {
background-color:#f5f5f5;
}
.right2 {
padding-left:35px;
}
.right3 {
padding-left:98px;
}
.right4 {
padding-left:200px;
}
.right5 {
padding-left:350px;
}
.right6 {
padding-left:250px;
}

.mar_top {
margin-top:5px;
margin-bottom:5px;
line-height:30px;
}
.padd{
padding-left:7%;
}
.padd2{
padding-left:24%;
}
.padd3{
padding-left:19%;
}
.padd4{
padding-left:38%;
}
#header{
width:100%;
background:#464646;
height:35px;
color:#FFFFFF;
margin-bottom:60px;
}
.STYLE1 {color: #000000}

.font_1 {
	FONT-SIZE: 14px;
	color:red;
}
.red {
	color:red;
}
#container2 {
	width:60%;
	MARGIN-RIGHT: auto; 
	MARGIN-LEFT: auto;
}
#fileblock {
	border: 1px solid #9C9D9E;	
}
.mar{
margin-bottom:5px;
}
.mar2{
margin-top:10px;
}
.color13{
color:#1E424E;
}
#table_3 {
width:100%;
border:0px;
line-height:30px;
}
#table_4 {
width:760px;
border:0px;
line-height:30px;
}
#table_4 td {
height:30px;
}
#table_5 {
width:800px;
border:0px;
line-height:30px;
}
#table_5 td {
height:30px;
}
.bgc2{
background-color:#F2F1F1;
}
.hg{
height:450px;
}
.hg2{
height:31px;
}
.hg3{
height:15px;
}
.hg4{
height:1px;
}
.col10{
background-color:#F7F8F9;
}
.col11{
background-color:#E1E5EE;
}
.col12{
background-color:#CCCCCC;
}
.col13{
background-color:#EEF2FB;
}
.blue{
color:#183543;
}
.white{
background-color:#FFFFFF;
}
.white2{
background-color:#9C9D9E;
}








