<div id="container">
<div class="padd3 mar_top">
<div class="topimg">{{if
$action=='addErrorPage'}}增加自定义错误{{else}}修改自定义错误{{/if}}</div>
</div>
<form name='nodeform' action="?c=info&a={{$action}}" method="post">
<div class="head_block tb_wid2">
&nbsp;{{if $action=='add'}}增加自定义错误{{else}}修改自定义错误{{/if}}
</div>
<div class="block tb_wid2">
<table id="table_2" cellpadding="0" cellspacing="1">
	<tr>
		<td class="td_bgc right_2">错误码:</td>
		<td class="td_bgc"><input type='text' name='name' value="{{$info.name}}" size='5'>(常见错误码: 404 没有找到文件)</td>
	</tr>

	<tr>
		<td class="td_bgc right_2">url</td>
		<td class="td_bgc"><input type='text' name='value' value="{{$info.value}}"></td>
	</tr>
	<tr>
		<td class="td_bgc right_2" colspan="2" align="center"><input
			type="submit" value="确定"></td>
	</tr>
</table>
</div>
</form>
</div>


