{{include file='common/head.html'}}
<div align="center">
	<div class="wid_main mar_main" align="left">
	<div class="block_top" align="left">当前位置：服务器管理 --> 服务器设置 -->调试工具</div>
	<table class="table_public" cellpadding="0" cellspacing="1">
		<tr><td colspan="2" class="bg_main"><b>dig工具</b></td></tr>
		<form action='?c=servers&a=dig&server={{$server}}' method='post'>
		<tr>
			<td>
				域名:<input name='domain' value='{{$domain}}'/>
				线路:<select name='view'>
				{{foreach from=$views item=v}}
				<option value='{{$v.name}}' {{if $v.name==$view}} selected {{/if}}>{{$v.desc}}</option>
				{{/foreach}}
				</select>
				服务器:
				<select name='node'>
				{{foreach from=$nodes item=s}}
				<option value='{{$s}}' {{if $s==$node}} selected {{/if}}>{{$s}}</option>
				{{/foreach}}
				</select>
				<input type='submit' value='查询'/>
				
				{{if $dig}}
				<pre>
				{{$dig}}
				</pre>
				{{/if}}
			</td>
		</tr>
		</form>
	</table>
	</div>
</div>
{{dispatch c='index' a='foot'}}