{{include file='common/head.html'}}

<script language='javascript' src='{{$STATIC}}/scripts/manynode.js'>
//jQuery(document).ready(function(){
	//jQuery("#local_name").addClass('decoration_blink');
//});


</script>

<body bgcolor='#ffffff' text='#000000' leftmargin='0' topmargin='0'>
<div align="center">
	<div class="wid_main mar_main" align="left">
		<div class="block_top" align="left">当前位置：其它设置 --> 多节点cdn设置</div>
		
		<div id='local_name'>
			
		</div>
		<div class="add_prod">
		<a href='?c=manynode&a=addFrom'><img src="{{$STATIC}}style/addprod5.gif" border="0" alt="增加辅节点"/></a>
		<!--a href="http://www.cdnbest.com/" target=_blank><big class='red'>建议使用更加专业的cdn系统,cdn贝</big></a-->
		</div>
		<table class="table" cellpadding="0" cellspacing="1">
			<form name='manynode' action="?c=manynode&a=pageList" method="post">
			<tr id="bg_yellow"><td colspan="8" align="left">
				设置本地节点名称:<input name='local_cdn_name'  type='text' value="{{$local_cdn_name}}" >
				<input type='submit' class="btn" value="确定"><font >&nbsp;*增加后，如已同步数据，请勿修改</font>
			</td></tr>
			</form>
			<tr><td colspan="1" ><b>多节点cdn设置</b></td><td colspan="6" ><input type='button' class="btn" value="查询状态" onclick="test_node()"></td><td ><a href='http://wiki.kangleweb.com/Easypanel%E5%B8%B8%E8%A7%81%E9%97%AE%E9%A2%98#easypanel.E7.9A.84.E5.A4.9A.E8.8A.82.E7.82.B9.E8.AE.BE.E7.BD.AE.28.E6.97.A7.E7.9A.84.E7.89.88.E6.9C.AC.E5.8F.AB.E5.A4.9A.E8.8A.82.E7.82.B9CDN.E8.AE.BE.E7.BD.AE.29.E6.98.AF.E5.81.9A.E4.BB.80.E4.B9.88.E7.94.A8.E7.9A.84' target='_blank'><b class='red'>帮助?</b></a></td></tr>
			<tr id="bg_yellow">
			<td>操作</td>
			<td>辅节点名称</td>
			<td>辅节点IP</td>
			<td>辅节点安全码</td>
			<td>备注</td>
			<td>同步时间</td>
			<td>同步状态</td>
			<td>节点状态</td>
			</tr>			
		{{foreach from=$list item=row}}
			<tr >
			<td >[<a href="javascript:if(confirm('确定删除?')){location='?c=manynode&a=del&name={{$row.name}}';}" >删除</a>]
				[<a href="?c=manynode&a=addFrom&name={{$row.name}}">修改</a>]
				[<a href="?c=manynode&a=sync&name={{$row.name}}">同步</a>]
			</td>
			<td>{{$row.name}}</td>
			<td>{{$row.host}}:{{$row.port}}</td>
			<td>{{$row.skey}}</td>
			<td>{{$row.mem}}</td>
			<td>{{if $row.synctime}}{{date('Y:m:d H:i:s',$row.synctime)}}{{/if}}</td>
			<td>{{if $row.syncstatus==1}}成功{{elseif $row.syncstatus==0}}等待同步{{else}}失败{{/if}}</td>
			<td id='tr{{$row.name}}'><a href="javascript:check_node('{{$row.name}}')">查询状态</a></td>
			</tr>
		{{/foreach}}
				
			<tr id="bg_yellow">
			<td colspan="8" align="right">
				{{if $page>1}}
				<a href='?c=manynode&a=pageList&page=0'>首页</a> 
				<a href='?c=manynode&a=pageList&page={{$page-1}}'>上一页</a> 
				{{else}}
				首页 上一页 
				{{/if}}
				{{if $page!=$total_page}} 
				<a href='?c=manynode&a=pageList&page={{$page+1}}'>下一页</a>
				<a href='?c=manynode&a=pageList&page={{$total_page}}'>尾页</a>
				{{else}}下一页 尾页
				{{/if}} 
				{{$page}}/{{$total_page}}&nbsp;
				共计{{$count}}记录&nbsp;
			</td>
			</tr>
			
		  </table>
		</div>
	
	</div>
	
{{dispatch c='index'  a='foot'}}
