<script language='javascript' src='{{$STATIC}}js/indexfile.js'></script>
<script language='javascript'></script>

<div class="main" style="padding-bottom:10px">
    <div class="public_pa">默认首页文件</div>
<form action='?c=indexfile&a=indexfileAdd' method='post' name='from'>
	<table class="table" style="margin:10px 0" cellpadding="0" cellspacing="1">
		<tr>
			<td style="border:0">
			文件名：<input name="file" size='16' id='file' />&nbsp;&nbsp;&nbsp;&nbsp;
			先后顺序：<input name='id' value='100' id='id' />&nbsp;注：数字小优先&nbsp;&nbsp;&nbsp;&nbsp;
			<input type='button' value='提交' onclick='indexfile_add();' class="btn btn-warning" />
			</td>
		</tr>
	</table>
</form>
<table class="table table-bordered" style="border-top:1px solid #bbb" cellpadding="0" cellspacing="1">
    <thead>
	<tr>
		<th style="border-left:0">操作</th>
		<th>文件名</th>
		<th>顺序</th>
	</tr>
	</thead>
	{{foreach from=$in item=row}}
	<tr>
		<td style="border-left:0"><a href="javascript:indexfile_del('{{$row.name}}')">删除</a></td>
		<td>{{$row.name}}</td>
		<td>{{$row.value}}</td>
	</tr>
	{{/foreach}}
</table>
</div>

<script language='javascript'>
	from.file.focus();
</script>