#t{
height:60px;
width:100%;
background:url(/images/top-bg.gif);
border-bottom:4px solid #005B99;
}
#t1 {
width:762px;
}
#t2 {
padding-top:15px;
padding-left:15px;
text-align:left;
color:#fff;
background:url(/images/top-right.gif) 30px no-repeat;
}