<script language="javascript">
function changePw()
{
	var pw = $("#webpasswd").val();
	if(pw=="")return;
	$.get( "?c=session&a=changePassword&passwd="+pw,
            function(data){ alert(data); }
        );
}
function changeDb()
{
	var pw = $("#dbpasswd").val();
	if(pw=="")return;
	$.get( "?c=session&a=changeDbPassword&passwd="+pw,
            function(data){ alert(data); }
        );
}
</script>

<div class="main">
    <div class="public_pa">修改密码</div>
<form name='frm' action="javascript:changePw();">
	<table class="table" style="margin:0">
		<tr>
		    <td style="width:120px;border:0;"><b>修改用户登陆密码</b></td>
			<td style="width:100px;text-align:right;border:0;">新密码：</td>
			<td style="border:0;"><input type='password' name='passwd' id='webpasswd' />&nbsp;&nbsp;<input type='submit' value='确定' class="btn btn-warning" /></td>
		</tr>
	</table>
</form>

{{if $db_limit}}
<form name='frm' action="javascript:changeDb();" method="post">
	<table class="table" style="margin:0">
		<tr>
			<td style="width:120px"><b>修改数据库密码</b></td>
			<td style="width:100px;text-align:right">新密码：</td>
			<td><input type='password' name='passwd' id='dbpasswd' />&nbsp;&nbsp;<input type='submit' value='确定' class="btn btn-warning" /></td>
		</tr>
	</table>
</form>
{{/if}}
</div>

