{{include file='common/head.html'}}
<script language="javascript">
function checkPassword()
{
	if(frm.passwd.value==""){
		alert('新密码不能为空');
		return;
	}
	if(frm.passwd.value!=frm.passwd2.value){
		alert('两次密码不相等');
		return;
	}
	frm.submit();
}
</script>
<div align="center">
	<div class="wid_main mar_main" align="left">
	    <form name='frm' action="?c=session&a=changePassword" method="post">
		<div class="block_top" align="left">当前位置：帐号管理 --> 修改帐号信息</div>
		<table class="table" cellpadding="0" cellspacing="1">
			<thead>
			<tr>
				<td style="width:200px"><b>修改帐号信息</b></td>
				<td style="width:auto">&nbsp;</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>用户名：</td>
				<td><input  name='admin' id='tb_wid3' value='{{getRole('admin')}}'></td>
				</tr>
			  <tr>
				<td>原密码：</td>
				<td><input type='password' name='oldpasswd' id='tb_wid3'></td>
				</tr>
			  <tr>
				<td>新密码：</td>
				<td><input type='password' name='passwd' id='tb_wid3' ></td>
				</tr>
			  <tr>
				<td>确认新密码：</td>
				<td><input type='password' name='passwd2' id='tb_wid3'></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="button" value="确定" onclick='checkPassword()' style="margin-left:200px;" class="btn"> </td>
			</tr>
			</tbody>
		</table>
		</form>
	</div>
  </div>
{{dispatch c='index'  a='foot'}}
