<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='zh-CN' xml:lang='zh-CN' xmlns='http://www.w3.org/1999/xhtml'>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{$title}}</title>
</head>
<frameset name="right" rows="64,9,*" cols="*" frameborder="no" border="0" framespacing="0">
	<frame src="?c=index&a=top" name="top" noresize="noresize" scrolling="no">
	<frame src="?c=index&a=controltop" name="controltop" noresize="noresize" scrolling="no">
	<frameset cols="170,*" frameborder="no" border="0" framespacing="0" name="main1">
		<frame src="?c=index&a=left" name="left" scrolling="auto" noresize>
		<frame src="?c=index&a=main" name="main" scrolling="yes">
	</frameset>
</frameset>
<noframes>
	<body bgcolor='#FFFFFF' text='#000000'>
	您的浏览器不支持框架！
	</body>
</noframes>
</html>