<script language='javascript' src='{{$STATIC}}js/domain.js?v=3'></script>

<div class="main">
	<div class="public_pa">域名绑定</div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th style="border-left:0">操作</th>
				<th>域名</th>
				<th>{{if $user.cdn}}源站IP{{else}}目录{{/if}}</th>
			</tr>
		</thead>
		{{foreach from=$list item=row}}
		<tr id='{{$row.id}}t'>
			<td style="border-left:0">[<a href="javascript:domain_del('{{$row.name}}',{{$row.id}})">删除</a>]{{if $user.cdn && $ssl}}&nbsp;[<a href="?c=index&a=domainSslForm&domain={{$row.name}}">SSL证书</a>]{{/if}}</td>
			<td>{{if $row.ssl}}<i style="color:#82af6f;vertical-align: -.125em;" title="域名成功设置SSL证书"><svg viewBox="64 64 896 896" fill="currentColor" width="1em" height="1em" data-icon="lock" aria-hidden="true"><path d="M832 464h-68V240c0-70.7-57.3-128-128-128H388c-70.7 0-128 57.3-128 128v224h-68c-17.7 0-32 14.3-32 32v384c0 17.7 14.3 32 32 32h640c17.7 0 32-14.3 32-32V496c0-17.7-14.3-32-32-32zM332 240c0-30.9 25.1-56 56-56h248c30.9 0 56 25.1 56 56v224H332V240zm460 600H232V536h560v304zM484 701v53c0 4.4 3.6 8 8 8h40c4.4 0 8-3.6 8-8v-53a48.01 48.01 0 1 0-56 0z"></path></svg></i>&nbsp;{{/if}}<a href='http://{{$row.name}}' target='_blank'>{{$row.name}}</a></td>
			<td>{{$row.value}}{{if $row.proto}}&nbsp;({{$row.proto}}){{/if}}&nbsp;[<a href="javascript:domain_edit('{{$row.name}}')">修改</a>]</td>
		</tr>
		{{/foreach}}

	</table>

	<form name='nodeform' action="javascript:domain_add();" method="post">
		<table class="table">
			<thead>
				<tr>
					<th colspan='2'>增加域名绑定，在添加绑定之前请先解析域名：<font color='red'>{{$domain_note}}</font></th>
				</tr>
			</thead>
			<tr>
				<td style="width:70px">域名</td>
				<td><input type='text' size='40' name='domain' id='domain' value="{{$domain.domain}}" /></td>
			</tr>

			{{if $subdir_flag}}
			<tr>
				<td style="width:70px">{{if $user.cdn}}源站IP{{else}}目录{{/if}}</td>
				<td><input type='text' name='subdir' id='subdir' value="{{$default_subdir}}" size='40' /></td>
			</tr>
			{{if $user.cdn}}<tr>
				<td style="width:70px">回源协议</td>
				<td><select name="proto" id="proto" onchange="if(this.value=='https'||this.value=='follow')alert('选择此项必须先在源站配置好SSL证书')">
					<option value="http">http</option>
					<option value="https">https</option>
					<option value="follow">协议跟随</option>
					{{if getRole('admin')}}<option value="tcp">tcp</option>{{/if}}
			    </select><br/>
				</td>
			</tr>{{/if}}
			{{/if}}
			<tr>
				<td style="width:70px">&nbsp;</td>
				<td>
				<input type="button" id='button' class="btn btn-warning" onclick='domain_add();' value="确定" />
				<input type="button" id='button_import' class="btn btn-warning" onclick='piao_domain_import();' value="批量增加" />
				<input type="button" id='button_cancel' class="btn btn-default" style="display:none" onclick='cancel_edit();' value="取消编辑" />
				</td>
			</tr>
		</table>
	</form>
</div>
<script>
	nodeform.domain.focus();
</script>