*{
	margin: 0;
	padding: 0;
	border: 0;
}

a:link,a:visited {
	color: #036;
	text-decoration: none;
}
a:hover,a:active {
	color: #2583EA;
	text-decoration: underline;
}

body{
	color:#036;
	background-color:#fff;
	font-family : "Lucida Grande", Verdana, Lucida, Arial, Helvetica, 瀹嬩綋,sans-serif;
	font-size:12px;
	line-height:150%;
}
h1{
	font-size:12px;
	color:#036;
	text-align:center;
	margin:2px 0 1px 0;
	background:#c0dcff;
}
top{
	border:1px solid #ccecfb;
	border-bottom:none;
	margin-top:15px;
	background:#4298e1;
}